.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  font-family: Arial;
}

.card {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
  text-align: center;
}

.sub {
  text-align: center;
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;   /* 🔥 IMPORTANT FIX */
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #357ac9;
}

.link {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}